bin
obj
csx
.vs
edge
Publish

*.log
*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/build
/node_modules
/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
